body { background-color: #20B2AA; margin: 0; padding: 0; }
.profile { background-color: #FFF; width: 900px; margin: 0 auto; border-radius: 10px; padding: 10px; }
.profile-avatar img { width: 300px; }
.profile-avatar div input { margin: 0 auto; }
.profile-name { font-size: 20px; text-align: center; margin: 10px 0; font-weight: bold; }
.profile-friends { float: left; width: 300px; }
.profile-all-friends { width: 220px; margin: 10px auto; }
.title { padding: 1px 4px; color: #FFF; background-color: #008B8B; }
.profile-all-friends .some-friends { border: #008B8B solid 2px; }
.profile-friend-name { font-size: 12px; }
.profile-info { float: right; width: 300px; }
.profile-info .block-info { width: 250px; margin: 10px auto; }
.profile-info .name { border-bottom: 2px solid #008080; font-weight: bold; padding: 2px 0; margin: 2px 0;}
.my-friend { width: 60px; height: 70px; border: 1px solid #008080; margin: 10px 5px; float:left; }
.my-friend img { width: 60px; height: 70px; }

.title-menu { width: 1080px; margin: 0px auto; list-style-type: none; }
.title-menu li { float: left; background-color: #FFCA80; color: #FFF; padding: 10px 20px; }
.title-menu li:hover { background-color: #252525; }
.log { float: right; background-color: #252525; width: 100%; }

.black { #background-color: #252525; width: 100%; height: 30px;}
.left { float: left; }
.right { float:right; }

.update-menu { float: left; width: 300px; }
.update-menu ul { list-style-type: none; }
.update-menu a { text-decoration: none; color: black }

.update-content { width: 600px; float:right; }
.update-title { font-size: 24px; text-align:center; margin: 15px 0; }

.friends-img { width:250px; }

.clear { clear: both; }

